body {
  background-color: #010105;
}

.App {
  text-align: center;
  color: #dadcfb;
}

.App button {
  color: #010105;
  background-color: #7e86f1;
  border: none;
  border-radius: 5px;
}

.App button:hover {
  background-color: #2734e7;
}

.App button:active {
  transform: translateY(4px);
}

.book {
  border-radius: 5px;
  background-color: #2734e7;
  margin: 0px 400px 0px 400px;
}


