body {
  background-color: #f5fcfe;
}

.App {
  text-align: center;
  color: #02151d;
}

.App button {
  color: #02151d;
  background-color: #0a8ec2;
  border: none;
  border-radius: 5px;
  padding: 4px;
  margin: 0px 2px 0px 2px;
}

.App button:hover {
  background-color: #9ee0fa;
}

.App button:active {
  transform: translateY(4px);
}

.author, .book, .editor, .collection {
  border-radius: 5px;
  background-color: #9ee0fa;
  margin: 0px 800px 0px 800px;
}

.form {
  padding-top: 50px;
}


